.App {
    font-family: "Fjalla One", sans-serif;
}

h1 {
    letter-spacing: 0.1rem;
}

html,
body {
    background-color: #282c34;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 1em;
    box-sizing: border-box;
    background-color: #2e3645;
}

.App-logo {
    height: 2.5em;
    width: 2.5em;
    aspect-ratio: 1 / 1;
    background: #ffcb85;
    border-radius: 12px;
}

.App-logoText {
    font-size: 1.4em;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    color: #fff;
}

.App-main {
    background-color: #282c34;
    padding: 1em;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-heading {
    margin-bottom: 0;
    font-size: 1em;
    text-align: center;
}

.App-depRow {
    margin-bottom: 0;
    margin-top: 1em;
    padding: 1em;
    border-radius: 12px;
    width: 100%;
    border: 1px solid #3d4350;
    letter-spacing: 0.05rem;
    box-sizing: border-box;
    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
}

.App-depRow strong {
}

.App-departures {
}

.App-link {
    color: #61dafb;
}

.App-depTime {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
}

.App-timeTableType {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2em;
    font-size: 0.9em;
    text-align: center;
}
